img {
    max-width: 50%;
    height: auto;
}
body {
    font-family: Arial;
}
h1 {
    color: blue;
    text-align: center;
    font-size: 36px;
}
p {
    font-size: 18px;
    color:brown;
}
.highlight {
    font-weight: bold;
}
.note{
    text-decoration: underline;
    color: red;
}
a {
    color: purple;
    text-decoration: none; 
}
